#### Initial data prep section.  Read, clean and create sets.

In [52]:
import pandas as pd
file_path = 'ADANIPORTS.csv'
df = pd.read_csv(file_path)
print(df.info())
# df.isnull().sum()
df.dropna(axis='index', how='all', subset=["Trades"], inplace=True)
print(df.info())

from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size=0.25, random_state=1)
print(len(train_set), len(test_set))
print(train_set.head(2))
print(test_set.head(2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3322 entries, 0 to 3321
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                3322 non-null   object
 1   Symbol              3322 non-null   object
 2   Series              3322 non-null   object
 3   Prev Close          3322 non-null   float64
 4   Open                3322 non-null   float64
 5   High                3322 non-null   float64
 6   Low                 3322 non-null   float64
 7   Last                3322 non-null   float64
 8   Close               3322 non-null   float64
 9   VWAP                3322 non-null   float64
 10  Volume              3322 non-null   int64
 11  Turnover            3322 non-null   float64
 12  Trades              2456 non-null   float64
 13  Deliverable Volume  3322 non-null   int64
 14  %Deliverble         3322 non-null   float64
dtypes: float64(10), int64(2), object(3)
memory usage: 389.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 2456 entries, 866 to 3321
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                2456 non-null   object
 1   Symbol              2456 non-null   object
 2   Series              2456 non-null   object
 3   Prev Close          2456 non-null   float64
 4   Open                2456 non-null   float64
 5   High                2456 non-null   float64
 6   Low                 2456 non-null   float64
 7   Last                2456 non-null   float64
 8   Close               2456 non-null   float64
 9   VWAP                2456 non-null   float64
 10  Volume              2456 non-null   int64
 11  Turnover            2456 non-null   float64
 12  Trades              2456 non-null   float64
 13  Deliverable Volume  2456 non-null   int64
 14  %Deliverble         2456 non-null   float64
dtypes: float64(10), int64(2), object(3)
memory usage: 307.0+ KB
None
1842 614
            Date      Symbol Series  Prev Close    Open    High     Low  \
2822  2019-04-24  ADANIPORTS     EQ      390.90  387.70  394.00  386.10
2543  2018-03-07  ADANIPORTS     EQ      405.25  398.95  398.95  372.25

       Last   Close    VWAP   Volume      Turnover    Trades  \
2822  392.0  391.75  389.54  1674322  6.522230e+13   40292.0
2543  379.1  376.95  385.83  6951930  2.682249e+14  107220.0

      Deliverable Volume  %Deliverble
2822              881911       0.5267
2543             2806167       0.4037
            Date      Symbol Series  Prev Close    Open    High     Low  \
2131  2016-07-08  ADANIPORTS     EQ      210.05  210.05  211.95  204.60
2268  2017-01-25  ADANIPORTS     EQ      293.15  295.25  306.10  294.45

        Last   Close    VWAP   Volume      Turnover   Trades  \
2131  207.25  207.05  207.20  2451302  5.079123e+13  38590.0
2268  304.50  304.65  300.86  4477090  1.346982e+14  49029.0

      Deliverable Volume  %Deliverble
2131              903203       0.3685
2268             1826751       0.4080