In [1]:
import pandas as pd

C:\Users\S559487\AppData\Local\Temp\ipykernel_25024\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [9]:
# Replace 'your_file_path.csv' with the actual path to your CSV file
file_path = 'ds_salaries.csv'

# Read the CSV file into a pandas dataframe
df = pd.read_csv(file_path)
print(df.keys())
print(df.head(n=10))
print(df.info())
print(df.describe())

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')
   work_year experience_level employment_type                 job_title  \
0       2023               SE              FT  Principal Data Scientist
1       2023               MI              CT               ML Engineer
2       2023               MI              CT               ML Engineer
3       2023               SE              FT            Data Scientist
4       2023               SE              FT            Data Scientist
5       2023               SE              FT         Applied Scientist
6       2023               SE              FT         Applied Scientist
7       2023               SE              FT            Data Scientist
8       2023               SE              FT            Data Scientist
9       2023               SE              FT            Data Scientist

   salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0   80000             EUR          85847                 ES           100
1   30000             USD          30000                 US           100
2   25500             USD          25500                 US           100
3  175000             USD         175000                 CA           100
4  120000             USD         120000                 CA           100
5  222200             USD         222200                 US             0
6  136000             USD         136000                 US             0
7  219000             USD         219000                 CA             0
8  141000             USD         141000                 CA             0
9  147100             USD         147100                 US             0

  company_location company_size
0               ES            L
1               US            S
2               US            S
3               CA            M
4               CA            M
5               US            L
6               US            L
7               CA            M
8               CA            M
9               US            M
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB
None
         work_year        salary  salary_in_usd  remote_ratio
count  3755.000000  3.755000e+03    3755.000000   3755.000000
mean   2022.373635  1.906956e+05  137570.389880     46.271638
std       0.691448  6.716765e+05   63055.625278     48.589050
min    2020.000000  6.000000e+03    5132.000000      0.000000
25%    2022.000000  1.000000e+05   95000.000000      0.000000
50%    2022.000000  1.380000e+05  135000.000000      0.000000
75%    2023.000000  1.800000e+05  175000.000000    100.000000
max    2023.000000  3.040000e+07  450000.000000    100.000000

### Interesting facts

### Features like to predict

In [12]:
#Looking for null values in data
df.isnull().sum()

1171

In [14]:
#looking for duplicate data
df.duplicated().sum()

1171

In [15]:
#cleaning duplicate data
uniqueData = df.drop_duplicates()
print(uniqueData.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2584 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           2584 non-null   int64
 1   experience_level    2584 non-null   object
 2   employment_type     2584 non-null   object
 3   job_title           2584 non-null   object
 4   salary              2584 non-null   int64
 5   salary_currency     2584 non-null   object
 6   salary_in_usd       2584 non-null   int64
 7   employee_residence  2584 non-null   object
 8   remote_ratio        2584 non-null   int64
 9   company_location    2584 non-null   object
 10  company_size        2584 non-null   object
dtypes: int64(4), object(7)
memory usage: 242.2+ KB
None

In [16]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(uniqueData, test_size=0.2, random_state=123)
print(len(train_set), len(test_set))
print("Train Set:",train_set.head())
print("Test Set: ",test_set.head())

2067 517
      work_year experience_level employment_type                   job_title  \
3418       2022               MI              FT  Machine Learning Developer
2396       2022               SE              FT              Data Scientist
975        2023               SE              FT                Data Analyst
3420       2022               EX              FT    Director of Data Science
3607       2020               MI              FT         Lead Data Scientist

      salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
3418  100000             CAD          76814                 CA           100
2396  177500             USD         177500                 US           100
975   175000             USD         175000                 US           100
3420  250000             CAD         192037                 CA            50
3607  115000             USD         115000                 AE             0

     company_location company_size
3418               CA            M
2396               US            M
975                US            M
3420               CA            L
3607               AE            L
      work_year experience_level employment_type                 job_title  \
2706       2022               SE              FT             Data Engineer
1941       2022               SE              FT             Data Engineer
3483       2022               SE              FT  Principal Data Scientist
532        2023               SE              FT             Data Engineer
2950       2022               SE              FT             Data Engineer

      salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
2706  160000             USD         160000                 US           100
1941   35000             EUR          36773                 ES             0
3483  148000             EUR         155499                 DE           100
532   165000             USD         165000                 US           100
2950   90000             USD          90000                 US             0

     company_location company_size
2706               US            M
1941               ES            M
3483               DE            M
532                US            M
2950               US            M